@import "color";

.orderDetails {
    background-color: $pink;
   max-width: 100%;
    >main{
        background-color: white;
        max-width: 900px;
        margin: auto;
        padding: 2rem;
        overflow-x: auto;
       > h1{
            text-align: center;
            text-transform: uppercase;
            font: 100 3rem "Roboto";
            margin: 3rem;
        }
        > div {
            margin: 2rem 0;
            text-align: center;
            > h1 {
              font-size: 1.8rem;
              text-transform: uppercase;
          letter-spacing: 2px;
              color: rgb(6, 89, 107);
              font-family: sans-serif;
            }
            > p {
                font-weight: 200;
                white-space: nowrap;
                letter-spacing: 2px;
                margin: 2rem;
                font-weight: 100;
               
                > b {
                  margin-right: 5px;
                  font-weight: 900;
             
                }
              } 

        }

        > article {
            > h1 {
              font-size: 1.8rem;
              text-transform: uppercase;
              letter-spacing: 2px;
              margin: 2rem 0;
              font-family: sans-serif;
            }

            > div {
                background-color: rgb(246, 246, 246);
                margin: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border-radius: 5px;
                > h4 {
                  font-weight: 200;
                  letter-spacing: 2px;
                }
            }

        }


    }
}  



@media screen and (max-width: 600px) {
    .orderDetails > main > div {
      > h1 {
        font-size: 1.4rem;
      }
      > p {
        letter-spacing: 1px;
        font-size: 0.9rem;
        margin: 2rem 0;
      }
    }
  }
  